<h1> I'm Michelle Zhang! </h1>
<p> I'm from Fremont, CA, and I'm a current freshman. </p>

<br />
<p> I'm super excited to learn enough to be able to make my own websites!! The syntax is confusing but the guide helps a lot. :) </p>